*{

}

.logo{
    height: 40px;
    width: 40px;
    margin-left: 490px;
    background-color: white;

} 



.title{
    font-size: 20px;

}

.center {
    text-align: left;
}

.description {
   font-family: Georgia, 'Times New Roman', Times, serif;
}

div {
    display: inline-block;
}

#recipe{
    margin-bottom: 50px;
    
}

.recipe1{
    margin: 10px;
    display: block;
    padding: 20px;
    width: 250px;
    height: 5px;
    margin-left: 20px;
    border-radius: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}




.titled{
    margin-left: 115px;
    width: 160px;
}